# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.scifi-temple.iml
# Datasource local storage ignored files
/../../../../../../../../:\Git-Workspace\_UE\Semester2\scifi-temple\.idea\.idea.scifi-temple\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
